// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#googlemaps {
  // background-color: red;
  height: 95%;
  width: 100%;
  position: absolute;
  top:42px;
  z-index: 0;
  // -webkit-filter: blur(0);
  // -moz-filter: blur(0);
  // -o-filter: blur(0);
  // -ms-filter: blur(0);
  // filter: blur(0);
}
